In [90]:
import pandas as pd
import numpy as np
import keras 
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [91]:
bank_df=pd.read_csv("bank.csv")

In [92]:
bank_df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [93]:
bank_df.shape

(10000, 14)

In [95]:
#dropping the CustomerId and the Row Number
bank_df.drop(['RowNumber','CustomerId','Surname'], axis=1, inplace=True)
bank_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [102]:
# Create Training and Test sets

from sklearn.model_selection import train_test_split

y = bank_df['Exited']
X = bank_df.drop('Exited',axis=1)

X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [104]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [105]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [109]:
# Create the layers
classifier = Sequential()

# Adding the first hidden layer
classifier.add(Dense(units=6,
                     kernel_initializer='uniform',
                     activation='relu',
                     input_dim=13))

# Adding the second hidden layer
classifier.add(Dense(units=6,
                     kernel_initializer='uniform',
                     activation='relu'))  # don't need to specify the input_dim for subsequent layers

# Add the final output layer
classifier.add(Dense(units=1,   # we have a binary outcome Yes/No
                     kernel_initializer = 'uniform',
                     activation = 'sigmoid'))  # for more than 2 categories use 'softmax'

In [110]:

# Compile the ANN
classifier.compile(optimizer='adam',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])

In [111]:
# Fit the ANN to the data
classifier.fit(X_train, y_train, batch_size=10, epochs=100)

WARNING:tensorflow:From /Users/nikhilkanojia/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /Users/nikhilkanojia/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /Users/nikhilkanojia/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:2741: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/100
WARNING:tensorflow:From /Users/nikhilkanojia/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /Users/nikhilkanojia/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /Users/nikhilkanojia/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /Users/nikhilkanojia/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /Users/nikhilkanojia/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

8000/8000 [==============================] - 6s 752us/step - loss: 0.4841 - acc: 0.7971
Epoch 2/100
8000/8000 [==============================] - 4s 443us/step - loss: 0.4302 - acc: 0.7971
Epoch 3/100
8000/8000 [==============================] - 3s 368us/step - loss: 0.4247 - acc: 0.7971
Epoch 4/100
8000/8000 [==============================] - 3s 332us/step - loss: 0.4196 - acc: 0.8190
Epoch 5/100
8000/8000 [==============================] - 3s 335us/step - loss: 0.4167 - acc: 0.8261
Epoch 6/100
8000/8000 [==============================] - 3s 414us/step - loss: 0.4144 - acc: 0.8305
Epoch 7/100
8000/8000 [==============================] - 5s 571us/step - loss: 0.4127 - acc: 0.8315
Epoch 8/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.4112 - acc: 0.8346
Epoch 9/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.4098 - acc: 0.8340
Epoch 10/100
8000/8000 [==============================] - 3s 376us/step - loss: 0.4094 - acc: 0.8350
Epoch 11/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.4089 - acc: 0.8354
Epoch 12/100
8000/8000 [==============================] - 3s 418us/step - loss: 0.4073 - acc: 0.8355
Epoch 13/100
8000/8000 [==============================] - 4s 459us/step - loss: 0.4065 - acc: 0.8357
Epoch 14/100
8000/8000 [==============================] - 3s 339us/step - loss: 0.4060 - acc: 0.8365
Epoch 15/100
8000/8000 [==============================] - 3s 436us/step - loss: 0.4061 - acc: 0.8362
Epoch 16/100
8000/8000 [==============================] - 3s 325us/step - loss: 0.4049 - acc: 0.8382
Epoch 17/100
8000/8000 [==============================] - 3s 330us/step - loss: 0.4048 - acc: 0.8371
Epoch 18/100
8000/8000 [==============================] - 3s 391us/step - loss: 0.4042 - acc: 0.8366
Epoch 19/100
8000/8000 [==============================] - 3s 382us/step - loss: 0.4040 - acc: 0.8376
Epoch 20/100
8000/8000 [==============================] - 3s 340us/step - loss: 0.4035 - acc: 0.8395
Epoch 21/100
8000/8000 [==============================] - 4s 558us/step - loss: 0.4028 - acc: 0.8386
Epoch 22/100
8000/8000 [==============================] - 5s 571us/step - loss: 0.4023 - acc: 0.8389
Epoch 23/100
8000/8000 [==============================] - 3s 388us/step - loss: 0.4023 - acc: 0.8380
Epoch 24/100
8000/8000 [==============================] - 3s 413us/step - loss: 0.4022 - acc: 0.8374
Epoch 25/100
8000/8000 [==============================] - 3s 371us/step - loss: 0.4018 - acc: 0.8377
Epoch 26/100
8000/8000 [==============================] - 4s 482us/step - loss: 0.4016 - acc: 0.8372
Epoch 27/100
8000/8000 [==============================] - 3s 354us/step - loss: 0.4015 - acc: 0.8375
Epoch 28/100
8000/8000 [==============================] - 3s 407us/step - loss: 0.4013 - acc: 0.8390
Epoch 29/100
8000/8000 [==============================] - 3s 348us/step - loss: 0.4017 - acc: 0.8381
Epoch 30/100
8000/8000 [==============================] - 4s 456us/step - loss: 0.4008 - acc: 0.8402
Epoch 31/100
8000/8000 [==============================] - 4s 452us/step - loss: 0.4012 - acc: 0.8372
Epoch 32/100
8000/8000 [==============================] - 3s 387us/step - loss: 0.4008 - acc: 0.8374
Epoch 33/100
8000/8000 [==============================] - 3s 372us/step - loss: 0.4009 - acc: 0.8395
Epoch 34/100
8000/8000 [==============================] - 3s 411us/step - loss: 0.4010 - acc: 0.8377
Epoch 35/100
8000/8000 [==============================] - 3s 351us/step - loss: 0.4007 - acc: 0.8390
Epoch 36/100
8000/8000 [==============================] - 3s 356us/step - loss: 0.4005 - acc: 0.8391
Epoch 37/100
8000/8000 [==============================] - 3s 353us/step - loss: 0.4002 - acc: 0.8371
Epoch 38/100
8000/8000 [==============================] - 3s 431us/step - loss: 0.4000 - acc: 0.8394
Epoch 39/100
8000/8000 [==============================] - 3s 381us/step - loss: 0.4007 - acc: 0.8392
Epoch 40/100
8000/8000 [==============================] - 3s 367us/step - loss: 0.4004 - acc: 0.8382
Epoch 41/100
8000/8000 [==============================] - 3s 386us/step - loss: 0.4003 - acc: 0.8399
Epoch 42/100
8000/8000 [==============================] - 3s 351us/step - loss: 0.4002 - acc: 0.8372
Epoch 43/100
8000/8000 [==============================] - 3s 365us/step - loss: 0.3995 - acc: 0.8394
Epoch 44/100
8000/8000 [==============================] - 3s 352us/step - loss: 0.4000 - acc: 0.8391
Epoch 45/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.4001 - acc: 0.8402
Epoch 46/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.3995 - acc: 0.8396
Epoch 47/100
8000/8000 [==============================] - 3s 359us/step - loss: 0.3995 - acc: 0.8399
Epoch 48/100
8000/8000 [==============================] - 3s 360us/step - loss: 0.3998 - acc: 0.8404
Epoch 49/100
8000/8000 [==============================] - 3s 332us/step - loss: 0.4000 - acc: 0.8390
Epoch 50/100
8000/8000 [==============================] - 3s 325us/step - loss: 0.3998 - acc: 0.8396
Epoch 51/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.3999 - acc: 0.8386
Epoch 52/100
8000/8000 [==============================] - 3s 343us/step - loss: 0.3995 - acc: 0.8417
Epoch 53/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.3993 - acc: 0.8375
Epoch 54/100
8000/8000 [==============================] - 3s 339us/step - loss: 0.3994 - acc: 0.8390
Epoch 55/100
8000/8000 [==============================] - 3s 326us/step - loss: 0.3995 - acc: 0.8387
Epoch 56/100
8000/8000 [==============================] - 3s 337us/step - loss: 0.3990 - acc: 0.8379
Epoch 57/100
8000/8000 [==============================] - 3s 332us/step - loss: 0.3993 - acc: 0.8391
Epoch 58/100
8000/8000 [==============================] - 3s 361us/step - loss: 0.3994 - acc: 0.8407
Epoch 59/100
8000/8000 [==============================] - 3s 359us/step - loss: 0.3995 - acc: 0.8396
Epoch 60/100
8000/8000 [==============================] - 3s 326us/step - loss: 0.3990 - acc: 0.8404
Epoch 61/100
8000/8000 [==============================] - 3s 325us/step - loss: 0.3997 - acc: 0.8394
Epoch 62/100
8000/8000 [==============================] - 3s 325us/step - loss: 0.3992 - acc: 0.8384
Epoch 63/100
8000/8000 [==============================] - 3s 328us/step - loss: 0.3991 - acc: 0.8394
Epoch 64/100
8000/8000 [==============================] - 3s 324us/step - loss: 0.3996 - acc: 0.8387
Epoch 65/100
8000/8000 [==============================] - 3s 326us/step - loss: 0.3992 - acc: 0.8379
Epoch 66/100
8000/8000 [==============================] - 3s 326us/step - loss: 0.3995 - acc: 0.8401
Epoch 67/100
8000/8000 [==============================] - 3s 320us/step - loss: 0.3994 - acc: 0.8384
Epoch 68/100
8000/8000 [==============================] - 3s 316us/step - loss: 0.3993 - acc: 0.8397
Epoch 69/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.3984 - acc: 0.8401
Epoch 70/100
8000/8000 [==============================] - 2s 312us/step - loss: 0.3996 - acc: 0.8411
Epoch 71/100
8000/8000 [==============================] - 3s 316us/step - loss: 0.3990 - acc: 0.8374
Epoch 72/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.3995 - acc: 0.8399
Epoch 73/100
8000/8000 [==============================] - 3s 317us/step - loss: 0.3995 - acc: 0.8377
Epoch 74/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.3993 - acc: 0.8401
Epoch 75/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.3988 - acc: 0.8397
Epoch 76/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.3988 - acc: 0.8397
Epoch 77/100
8000/8000 [==============================] - 2s 312us/step - loss: 0.3990 - acc: 0.8391
Epoch 78/100
8000/8000 [==============================] - 3s 315us/step - loss: 0.3985 - acc: 0.8392
Epoch 79/100
8000/8000 [==============================] - 3s 315us/step - loss: 0.3993 - acc: 0.8399
Epoch 80/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.3993 - acc: 0.8397
Epoch 81/100
8000/8000 [==============================] - 3s 313us/step - loss: 0.3993 - acc: 0.8394
Epoch 82/100
8000/8000 [==============================] - 3s 316us/step - loss: 0.3991 - acc: 0.8392
Epoch 83/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.3990 - acc: 0.8395
Epoch 84/100
8000/8000 [==============================] - 3s 315us/step - loss: 0.3989 - acc: 0.8397
Epoch 85/100
8000/8000 [==============================] - 3s 316us/step - loss: 0.3990 - acc: 0.8401
Epoch 86/100
8000/8000 [==============================] - 3s 315us/step - loss: 0.3991 - acc: 0.8399
Epoch 87/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.3989 - acc: 0.8390
Epoch 88/100
8000/8000 [==============================] - 3s 315us/step - loss: 0.3992 - acc: 0.8385
Epoch 89/100
8000/8000 [==============================] - 3s 331us/step - loss: 0.3991 - acc: 0.8399
Epoch 90/100
8000/8000 [==============================] - 3s 316us/step - loss: 0.3991 - acc: 0.8397
Epoch 91/100
8000/8000 [==============================] - 3s 316us/step - loss: 0.3991 - acc: 0.8400
Epoch 92/100
8000/8000 [==============================] - 3s 315us/step - loss: 0.3986 - acc: 0.8400
Epoch 93/100
8000/8000 [==============================] - 3s 320us/step - loss: 0.3990 - acc: 0.8412
Epoch 94/100
8000/8000 [==============================] - 3s 335us/step - loss: 0.3989 - acc: 0.8381
Epoch 95/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.3993 - acc: 0.8385
Epoch 96/100
8000/8000 [==============================] - 3s 330us/step - loss: 0.3987 - acc: 0.8389
Epoch 97/100
8000/8000 [==============================] - 3s 368us/step - loss: 0.3984 - acc: 0.8394
Epoch 98/100
8000/8000 [==============================] - 3s 317us/step - loss: 0.3987 - acc: 0.8394
Epoch 99/100
8000/8000 [==============================] - 2s 308us/step - loss: 0.3985 - acc: 0.8397
Epoch 100/100
8000/8000 [==============================] - 2s 309us/step - loss: 0.3989 - acc: 0.8396

In [112]:
from sklearn.metrics import confusion_matrix, accuracy_score

y_pred = classifier.predict(X_test)
y_pred = y_pred > 0.5

print ("Accuracy on test set : ", accuracy_score(y_test, y_pred))

print ("\nConfusion Matrix : \n", confusion_matrix(y_test, y_pred))

Accuracy on test set :  0.827

Confusion Matrix :
 [[1531   55]
 [ 291  123]]